---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import About from "../components/About.astro";
import ExperienceList from "../components/ExperienceList.astro";
import Contact from "../components/Contact.astro";
import ProjectList from "../components/ProjectList.astro";
---

<Layout>
  <div class="max-w-screen-xl flex flex-col lg:flex-row mx-auto justify-evenly">
    <Navigation />
    <main class="basis-3/5 mb-10 mt-20 lg:mt-7 mx-4 md:mx-10 lg:mx-0">
      <About />
      <ExperienceList />
      <ProjectList />
      <Contact />
    </main>
  </div>
</Layout>
