<section id="about" class="mb-10 text-xl/8">
  <!-- <h2>About</h2> -->
  <p class="mb-5">
    Formerly a <a href="#" class="text-zinc-800 bg-green-300 font-semibold"
      >professional doodler</a
    >, I now build elegant and user-centric digital experiences. I specialize in
    delivering highly scalable applications with a close-knit team, and bring a
    unique blend of versatility and artistic vision from my 8+ years in tne
    animation industry.
  </p>
  <p>
    When I'm not at the computer, you can find me climbing rocks, knitting, or
    cooking up a spicy noodle dish.
  </p>
</section>
