<section id="about" class="mt-20 pb-14 text-xl/8 scroll-mt-20">
  <!-- <h2>About</h2> -->
  <p class="mb-5">
    Formerly a <a
      href="#"
      target="_blank"
      class="underline decoration-4 font-semibold decoration-indigo-500 hover:text-blue-600"
      >professional doodler<span class="inline-block"
        ><svg
          class="stroke-blue-600"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="none"
          viewBox="0 0 30 30"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="3"
            d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"
          ></path>
        </svg>
      </span></a
    >, I now build <span class="bg-violet-200">elegant</span> and <span
      class="bg-green-300">user-centric</span
    > digital experiences. I specialize in delivering highly scalable applications
    with a close-knit team, and bring a unique blend of <span
      class="bg-stone-500 text-neutral-50">versatility</span
    >
    and <span class="bg-amber-300">artistic vision</span> from my 8+ years in the
    <span class="text-teal-800">animation industry</span>.
  </p>
  <p>
    When I'm AFK, you can find me climbing rocks or cooking up a spicy noodle
    dish.
  </p>
</section>

<style>
  span {
    font-weight: 600;
  }
</style>
