---
import { Icon } from "astro-icon/components";
---

<section id="about" class="mt-20 pb-14 text-xl/8 scroll-mt-20">
  <!-- <h2>About</h2> -->
  <p class="mb-5">
    Formerly a <a
      href="https://whereisjiani.com/"
      target="_blank"
      class="underline decoration-4 font-semibold decoration-indigo-500 hover:text-blue-600"
      >professional doodler<span class="inline-block"
        ><Icon name="newtab" class="stroke-blue-600 stroke-2" /></span
      ></a
    >, I now build <span class="bg-violet-200">elegant</span> and <span
      class="bg-green-300">user-centric</span
    > digital experiences. I specialize in delivering highly scalable applications
    with a close-knit team, and bring a unique blend of <span
      class="bg-fuchsia-300">versatility</span
    >
    and <span class="bg-amber-300">artistic vision</span> from my 8+ years in the
    <span class="text-teal-800">animation industry</span>.
  </p>
  <p>
    When I'm AFK, you can find me climbing rocks or cooking up a spicy noodle
    dish.
  </p>
</section>

<style>
  span {
    font-weight: 600;
  }
</style>
