<section id="about" class="my-10">
  <!-- <h2>About</h2> -->
  <p>
    Formerly a <a href="#">professional doodler</a>, I now build elegant and
    user-centric digital experiences. I specialize in delivering scalable
    applications, and bring a unique blend of adaptability and artistic vision
    from my 8+ years in tne animation industry.
  </p>
</section>
