<section>
  <h2>About</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
    fugiat fuga temporibus laudantium dolore voluptates rem autem ipsa.
    Doloremque repellendus odit libero mollitia optio ex voluptatem alias aut
    consectetur laboriosam?
  </p>
</section>
