<section
  id="contact"
  class="w-3/4 mx-auto py-20 md:py-48 lg:py-28 mb-24 md:mb-96 lg:mb-36 text-center"
>
  <h2 class="mb-10 text-2xl font-extrabold tracking-widest text-cyan-700">
    Let's talk!
  </h2>
  <div class="text-xl/8">
    <p class="mb-6">
      For any web/software-related inquiries, please feel free to send me an
      email. I'll get back to you as soon as I can!
    </p>
    <div
      class="transition-translate ease-in-out hover:-translate-x-0.5 hover:-translate-y-0.5 duration-200"
    >
      <a
        href="mailto:jianicakes@gmail.com"
        class="px-7 py-3 rounded-full text-xl tracking-wider font-semibold border-2 border-orange-400 transition-shadow ease-in-out hover:shadow-[2px_2px_0_#fb923c] duration-200"
        >Email me ✿</a
      >
    </div>
    <p class="mt-16 text-sm">
      If you'd like to view my artwork, please visit my <a
        href="https://whereisjiani.com/"
        class="bg-pink-200 font-semibold underline hover:bg-pink-300"
        >art portfolio</a
      > or my
      <a
        href="https://oomau.tumblr.com/"
        class="bg-emerald-200 font-semibold underline hover:bg-emerald-300"
        >old blog</a
      >.
    </p>
  </div>
</section>
