<section id="contact" class="pt-20 mb-20">
  <!-- <h2>Contact Me</h2> -->
  <form action="" class="w-2/3 p-10 rounded-md bg-slate-600 mx-auto">
    <fieldset>
      <legend class="mb-10 text-xl font-semibold text-center"
        >Contact Me!</legend
      >
      <label class="text-sm"
        >Your name<span class="text-orange-400">*</span><input
          type="text"
          name="name"
          class="w-full mb-4 bg-slate-600 border-b focus:outline-none focus:bg-slate-500"
          required
        /></label
      >
      <label class="text-sm"
        >Your email<span class="text-orange-400">*</span><input
          type="email"
          name="email"
          class="w-full mb-4 bg-slate-600 border-b focus:outline-none focus:bg-slate-500"
          required
        /></label
      >
      <label class="text-sm"
        >Message<span class="text-orange-400">*</span><textarea
          cols="40"
          rows="5"
          class="w-full mt-2 mb-4 bg-slate-600 border-b focus:outline-none focus:bg-slate-500"
          required></textarea></label
      >

      <input
        type="submit"
        class="px-4 py-2 float-right rounded-full bg-orange-400 text-zinc-800"
      />
    </fieldset>
  </form>
</section>
