---
const { company, title, year } = Astro.props;
---

<li class="w-full p-3 mb-2 flex flex-row justify-between">
  <div class="basis-1/5 ml-2">
    <span class="leading-normal uppercase font-light text-xs">{year}</span>
  </div>
  <div class="basis-4/5">
    <h3 class="font-semibold">
      <span>{title}</span>
      · <span class="italic"><a href="">{company}</a></span>
    </h3>
    <slot />
  </div>
</li>
