---
import Links from "./Links.astro";
---

<header id="navbar" class="basis-1/4 my-10">
  <div class="fixed">
    <div class="mb-10">
      <h1 class="text-5xl font-bold">Jiani Cao</h1>
      <p>Full-Stack Developer</p>
    </div>
    <nav class="">
      <ul class="flex flex-col justify-evenly space-y-3">
        <li><a href="/#about">About</a></li>
        <li>
          <a href="/#experience">Experience & Education</a>
        </li>
        <li>
          <a href="/#projects">Projects</a>
        </li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
    </nav>
    <Links />
  </div>
</header>
