---
import Project from "./Project.astro";
const projects: {
  name: string;
  description: string;
  image: string;
  href: string;
  stack: string[];
}[] = [
  {
    name: "Boulder Topo - In progress",
    description: "Developed in collaboration with a local artist/climber???",
    image: "",
    href: "",
    stack: ["Astro", "TypeScript"],
  },
  {
    name: "Portfolio",
    description:
      "The page that you're on right now, developed to gain foundational knowledge and hands-on experience with Astro and TypeScript.",
    image: "/projects/portfolio.webp",
    href: "https://www.whereisjiani.com",
    stack: ["Astro", "TypeScript", "Tailwind"],
  },
  {
    name: "Scheduler",
    description:
      "Simple app that lets users create, edit, and delete interview appointments.",
    image: "/projects/scheduler.png",
    href: "https://github.com/heyjiani/scheduler",
    stack: [
      "React",
      "Express",
      "PostgreSQL",
      "Cypress",
      "Jest",
      "Storybook",
      "CSS",
      "HTML",
    ],
  },
  {
    name: "WikiMap",
    description:
      "Map-sharing app that uses the Google Maps API to let users pin locations of interest.",
    image: "",
    href: "https://github.com/heyjiani/T2_midterm",
    stack: ["jQuery", "Express", "PostgreSQL", "CSS"],
  },
  {
    name: "Kintsugi",
    description:
      "A minimum viable demo for a therapy scheduling app with a multi-language voice transcriber twist.",
    image: "/projects/kintsugi.webp",
    href: "https://github.com/heyjiani/project-kintsugi",
    stack: ["Astro", "TypeScript"],
  },
  {
    name: "Jungle",
    description:
      "Intro to Ruby on Rails in the form of a challenge about adding features to an existing codebase for a simulated online retailer.",
    image: "/projects/jungle.webp",
    href: "https://github.com/heyjiani/jungle-rails",
    stack: ["Ruby on Rails", "RSpec"],
  },
  {
    name: "Tweeter",
    description: "Single-page Twitter clone.",
    image: "/projects/tweeter.webp",
    href: "https://github.com/heyjiani/tweeter",
    stack: ["jQuery", "Express", "CSS"],
  },
];
---

<section id="projects" class="pt-16 scroll-mt-10">
  <h2
    class="mb-2 py-2 sticky top-0 md:static z-20 text-center text-2xl font-extrabold text-emerald-600 tracking-widest bg-stone-200 md:bg-transparent"
  >
    Projects
  </h2>
  <ul class="divide-y divide-dashed divide-blue-600">
    {projects.map((p) => <Project project={p} />)}
  </ul>
</section>
