---
import Project from "./Project.astro";

const projects: {
  name: string;
  description: string;
  image: string;
  href: string;
  stack: string[];
}[] = [
  {
    name: "Boulder Topo - In progress",
    description: "Developed in collaboration with a local artist/climber.",
    image: "",
    href: "",
    stack: ["Astro", "TypeScript"],
  },
  {
    name: "Portfolio",
    description:
      "The page that you're on right now, developed to gain foundational knowledge and hands-on experience with Astro and TypeScript.",
    image: "",
    href: "https://www.whereisjiani.com",
    stack: ["Astro", "TypeScript", "Tailwind"],
  },
  {
    name: "Kintsugi",
    description:
      "A minimum viable demo for a therapy scheduling app with a multi-language voice transcriber twist.",
    image: "",
    href: "https://github.com/heyjiani/project-kintsugi",
    stack: ["Astro", "TypeScript"],
  },
  {
    name: "Scheduler",
    description:
      "Simple app that lets users create, edit, and delete interview appointments.",
    image: "",
    href: "",
    stack: [
      "React",
      "Express",
      "PostgreSQL",
      "Cypress",
      "Jest",
      "Storybook",
      "CSS",
      "HTML",
    ],
  },
  {
    name: "WikiMap",
    description:
      "Map-sharing app that uses the Google Maps API to let users pin locations of interest.",
    image: "",
    href: "",
    stack: ["jQuery", "Express", "PostgreSQL", "CSS"],
  },
  {
    name: "Jungle",
    description:
      "Intro to Ruby on Rails in the form of a challenge about adding features to an existing codebase for a simulated online retailer.",
    image: "",
    href: "",
    stack: ["Ruby on Rails", "RSpec"],
  },
  {
    name: "Tweeter",
    description: "Single-page Twitter clone.",
    image: "",
    href: "",
    stack: ["jQuery", "Express", "CSS"],
  },
];
---

<section id="projects" class="mt-10 mb-20">
  <h2>Projects</h2>
  <ul class="flex flex-row flex-wrap">
    {
      projects.map((p) => (
        <li class="p-6 basis-1/2">
          <h3>
            <a href={p.href}>{p.name}</a>
          </h3>
          <div>
            <p>{p.description}</p>
            <div class="flex flex-wrap space-x-1">
              {p.stack.length > 0 &&
                p.stack.map((s: string) => (
                  <span class="px-2 mt-1 text-sm border-solid rounded-full text-zinc-800 bg-violet-300">
                    {s}
                  </span>
                ))}
            </div>
          </div>
        </li>
      ))
    }
  </ul>
</section>
