---
import "@fontsource-variable/inter";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Jiani Cao</title>
  </head>
  <body
    class="leading-relaxed w-full antialiased font-sans bg-stone-200 text-stone-800 selection:bg-orange-300"
  >
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
  body {
    background-image: radial-gradient(circle, #7dafe9 1px, rgba(0, 0, 0, 0) 1px),
      url(mountains.svg);
    background-attachment: fixed, local;
    background-size:
      40px 40px,
      70%;
    background-repeat: repeat, no-repeat;
    background-position:
      0 0,
      bottom -40px right -120px;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
      background-size:
        40px 40px,
        150%;
      background-position:
        0 0,
        bottom -10px right -350px;
    }
  }
  @media only screen and (max-width: 768px) {
    body {
      background-size:
        40px 40px,
        160%;
      background-position:
        0 0,
        bottom -10px right -200px;
    }
  }
</style>
